---
import HeroSection from '../components/HeroSection.astro';
import LandingHero from '../components/LandingHero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tesla-Electric Cars">
	<main>
	<LandingHero/>
	<HeroSection/>
	</main>
</Layout>


