<section class="h-screen w-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-14 text-[35px] font-medium">
                    EXPERIENCE TESLA
            </h2>
            <p class="text-white text-sm underline">
                Schedule a Demo Drive Today
            </p>
        </header>
        <footer class="flex flex-grow flex-col justify-end pb-5">
            <div class="flex justify-center gap-4">
                <button class="text-[#27272a] px-8 bg-white rounded"
                    ><a href="#">Custome Order</a></button
                >
                <button class="text-white px-10 py-2 bg-white/5 rounded backdrop-blur-sm"
                    ><a href="#">Demo Driver</a></button
                >
            </div>
            <div class="pt-2">
                <span class="text-sm text-white"> *Excludes taxes and fees with price subject to change. Available in select states.
                    <a class="underline"> See Details</a> </span>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video
            class="object-cover h-full w-full"
            autoplay
            muted
            loop
            src="../public/home-video.mp4"></video>
    </div>
</section>